@import compass
@import blueprint
@import compass_twitter_bootstrap

//For sticky footer
@import compass/layout.scss

//Bluerint grid
$bgrid_width: 50px
$blueprint-grid_columns: 22
$blueprint_grid_width: $bgrid_width
$blueprint_grid_margin: 0px

//Variables

$page_width: 1100px
$header_height: 50px
$footer_height: 25px

$map_cell_size: 40px

$selected_color: #E0E0E0

@mixin input_name
  width: 125px

//Stylesheet

+sticky-footer($footer_height, "#layout", "#layout_footer", "footer")

body
  background-color: white

#layout
  +container
  width: $page_width

#main_container
  $col_count: 18
  +column($col_count)

  header
    +container
    height: $header_height
    width: $col_count * $bgrid_width
    line-height: $header-height
    border-bottom: 1px solid black

    #title
      +column(5)
      vertical-align: middle
      font-weight: 900
      font-size: 2em

    #top_menu
      +column(13)
      height: $header_height
      line-height: $header_height
      font-size: 1.5em

      ul
        +horizontal-list
        margin-top: 10px
        margin-left: 145px
        display: none

        li
          display: block
          width: 100px
          height: $header_height - 20px
          line-height: $header_height - 20px
          text-align: center

          &:first-child
            border-right: 1px solid black

  #content
    +container
    width: $col_count * $bgrid_width
    padding-top: 10px

    > div
      display: none

    #game
      > div
        display: none

#right_panel
  $col_count: 4
  +column($col_count)

  #main_menu
    width: $col_count * $bgrid_width - 2px
    border: 
      left: 1px solid black
      right: 1px solid black
      bottom: 1px solid black
    margin-top: 50px

    #btn_game, #btn_game_creation, #btn_available_games
      display: none

    ul
      &.top_menu, &.middle_menu
        display: none

      &.top_menu, &.middle_menu, &.bottom_menu
        list-style-type: none
        padding-left: 0px
        margin-left: 20px

        .btn
          width: 160px

        li
          margin-bottom: 10px

          &:last-child
            margin-bottom: 20px
      
  #notifications
    margin-top: 20px
    list-style-type: none
    width: $col_count * $bgrid_width

    ul
      list-style-type: none
      padding-left: 0px
      margin-left: 0px
      font-weight: bolder
      text-align: center

      p
        margin-right: 15px
        
footer
  border-top: 1px solid black
  width: $page_width
  margin: auto

input.error
  color: #B94A48
  border-color: #EE5F5B

//---------- Modals ----------

.modal
  display: none
  margin-left: -200px

  .modal-footer ul
    +horizontal-list
    +float-right

    li
      margin-left: 5px

#modal_auth
  width: 350px

  .modal-body ul
    list-style-type: none
    padding-left: 0px
    margin-left: 15px
    margin: 0px

    li
      &:last-child
        margin-top: 15px

      .input
        .error
          border-color: #EE5F5B

        .msg-error
          margin-left: 15px
          color: #B94A48

#modal_yes_no
  width: 350px

  .modal-body p
    text-align: center

#modal_duel
  $col_count: 5
  width: $bgrid_width * $col_count + 30px

  .modal-body
    $h: 70px
    +container
    width: $bgrid_width * $col_count
    height: 100px

    .middle_side
      +column(1)
      height: $h

    .left_side, .right_side
      +column(2)
      height: $h

      .attacker_place, .protector_place
        background-color: white
        @each $f in Flag, Spy, Scout, Miner, Sergeant, Captain, Major, Colonel, General, Marshal, Bomb, Lieutenant
          .img_unit_#{$f}
            margin-left: 30px
            width: $map_cell_size
            height: $map_cell_size
            background-image: image-url("/images/#{$f}.png")
            background-repeat: no-repeat
            background-color: white

      p
        text-align: center
        margin-top: 10px

    h4
      text-align: center
      margin-top: 10px

#modal_end_game
  width: 250px

  .modal-body h4
    text-align: center

//---------- Users online ----------

#users_online
  ol
    font-size: 1.3em

    li
      margin-top: 10px

//---------- Map ----------

@mixin map
  $col_count: 14
  width: ($col_count - 2) * $bgrid_width
  height: ($col_count - 2) * $bgrid_width
  padding: 20px $bgrid_width
  
  .map
    overflow: auto

    .map_cell
      display: block
      width: $map_cell_size
      height: $map_cell_size

    table
      width: auto
      margin: auto

      tr
        height: $map_cell_size

        td
          padding: 0px
          width: $map_cell_size
          border: 1px solid black

.map_cell
  background-color: white

  &.edt_selected
    background-color: moccasin

  &.pl1
    background-color: red

    @each $f in Flag, Spy, Scout, Miner, Sergeant, Captain, Major, Colonel, General, Marshal, Bomb, Lieutenant
      &.img_unit_#{$f}
        background-image: image-url("/images/#{$f}.png")
        background-repeat: no-repeat
        background-color: white

        &.selected
          background-color: $selected_color

  &.pl2
    background-color: blue

  &.obst
    background-color: gray

  &.pl1, &.pl2, &.obst
    &.edt_selected
      opacity: 0.5

//---------- Army ----------

@mixin army
  ul
    $col_count: 4
    +column($col_count)
    list-style-type: none
    padding: 0px
    margin: 0px

    li
      +container
      width: $col_count * $bgrid_width
      vertical-align: middle
      margin-bottom: 10px
      &:last-child
        margin-bottom: 0px

      span
        height: $map_cell_size
        text-align: center
        line-height: $map_cell_size
        text-size: 1.1em

        &:first-child
          +column(1)
          display: block
          width: $map_cell_size - 2px
          height: $map_cell_size - 2px
          border: 1px solid black
          @each $f in Flag, Spy, Scout, Miner, Sergeant, Captain, Major, Colonel, General, Marshal, Bomb, Lieutenant
            &.img_unit_#{$f}
              background-image: image-url("/images/#{$f}.png")
              background-repeat: no-repeat

        &.unit_name
          $col_count: 2
          $mrg_left: 10px
          +column($col_count)
          width: $col_count * $bgrid_width - $mrg_left
          margin-left: $mrg_left

        &.unit_count
          +column(1)

@mixin army_place
  $col_count: 14
  +container
  width: ($col_count - 2) * $bgrid_width
  padding: 20px $bgrid_width

  .army
    margin: auto
    +army

//---------- List of <resource> ----------

@mixin list_resources($col_count)
  width: $col_count * $bgrid_width - 11px
  border:
    top: 1px solid black
    bottom: 1px solid black
    right: 1px solid black
  padding:
    right: 10px

  ol
    font-size: 1.3em

    li
      margin-top: 10px
      text-align: center
      cursor: pointer

      &:first-child
        margin-top: 20px

      &:last-child
        margin-bottom: 20px

      &.selected, &:hover
        background-color: $selected_color


//---------- Location ----------

$top_side_height: 50px

@mixin location
  $col_count: 18
  $left_col_count: 4
  $right_col_count: 14

  +container
  width: $col_count * $bgrid_width

  .left_side
    +column($left_col_count)
    
    .top_side
      +container
      width: $left_col_count * $bgrid_width - 1px

  .right_side
    +column($right_col_count)

    .top_side
      width: $right_col_count * $bgrid_width - 20px

  .top_side
    height: $top_side_height
  
//---------- Maps editor ----------

#maps_editor
  +location
  $left_col_count: 4
  $right_col_count: 14

  .left_side
    .top_side
      border-right: 1px solid black

      .btn
        width: 50px
        height: 40px

      ul
        +horizontal-list

        li
          margin-right: 10px

    .list_maps
      +list_resources($left_col_count)

    .tools
      display: none
      width: inherit

      .map_cell
        display: block
        width: $map_cell_size - 2px
        height: $map_cell_size - 2px
        border: 1px solid black

      ul
        list-style-type: none
        margin: 0px
        width: inherit

        li
          +container
          margin-top: 10px
          cursor: pointer
          display: block
          width: inherit
          height: $map_cell_size

          &:hover, &.selected
            background-color: $selected_color

          .cell
            +column(1)

          .name
            +column(2)
          
          .count
            +column(1)

          .name, .count
            text-align: center
            line-height: $map_cell_size
          

  .right_side
    .top_side
      border-bottom: 1px solid black

      .params
        padding-left: 110px

        #name_map
          +input_name

        #width_map, #height_map
          width: 50px

        input, button
          margin:
            left: 10px
            top: 6px

    .map_place
      +map

//---------- Creation of the game ----------

#game_creation
  +location
  $left_col_count: 4
  $right_col_count: 14

  .army_panel, .map_panel
    .left_side
      .top_side
        border-right: 1px solid black
        text-align: center

      .list_maps, .list_armies
        +list_resources($left_col_count)

    .right_side
      .top_side
        border-bottom: 1px solid black

      .map_place
        +map

  .army_panel
    .top_side
      .params_game
        float: right
        margin-top: 6px
        .name_game
          +input_name

    .right_side
      height: 300px

      .army_place
        +army_place

//---------- Created game ----------

#game_created
  +location
  $left_col_count: 4
  $right_col_count: 14

  .left_side
    .top_side
      text-align: center
      border:
        bottom: 1px solid black
        right: 1px solid black

    .btn_remove
      margin:
        top: 20px
        left: 45px

  .right_side
    .top_side
      border-bottom: 1px solid black

      h3
        margin-left: 10px

    .map_place
      +map

    .army_place
      +army_place

    .army_panel
      height: 300px

//---------- AvailableGames ----------

#available_games
  +location
  $left_col_count: 4
  $right_col_count: 14

  .left_side
    .top_side
      border-right: 1px solid black

      > *
        margin-top: 6px
        margin-left: 55px

    .list_games
      +list_resources($left_col_count)

  .right_side
    .top_side
      border-bottom: 1px solid black

      h3
        margin-left: 10px

    .map_place
      +map

    .army_place
      +army_place

    .army_panel
      height: 300px

//---------- GamePlacement ----------

#game_placement
  +location
  $left_col_count: 4
  $right_col_count: 14

  .left_side
    .top_side
      border-bottom: 1px solid black
      border-right: 1px solid black

      h3
        text-align: center

    .army
      +army
      ul
        $w: 4 * $bgrid_width - 1px
        border-right: 1px solid black
        width: $w

        li
          width: $w
          &:first-child
            margin-top: 10px
          &:hover
            background-color: $selected_color
            cursor: pointer
          &.selected
            background-color: $selected_color

  .right_side
    .top_side
      border-bottom: 1px solid black

      > div
        height: $top_side_height - 6px
        margin-top: 6px

      .left_side
        +column(6)

      .right_side
        $rr_col_count: 8
        +column($rr_col_count)
        width: $rr_col_count * $bgrid_width - 20px

        ul
          +horizontal-list
          +float-right

    .map_place
      +map

//---------- GameProcess ----------

#game_process
  +location
  $left_col_count: 4
  $right_col_count: 14

  .left_side
    .top_side
      border-bottom: 1px solid black
      border-right: 1px solid black

      h3
        text-align: center

  .right_side
    .top_side
      border-bottom: 1px solid black

      > div
        height: $top_side_height - 6px

      .left_side
        +column(8)

        ul
          +horizontal-list
          margin-left: 10px

      .right_side
        $rr_col_count: 6
        +column($rr_col_count)
        width: $rr_col_count * $bgrid_width - 20px
        margin-top: 6px

        ul
          +horizontal-list
          +float-right

    .map_place
      +map

//---------- Armies editor ----------

#armies_editor
  +location
  $left_col_count: 4
  $right_col_count: 14

  .left_side
    .top_side
      border-right: 1px solid black

      .btn
        width: 50px
        height: 40px

      ul
        +horizontal-list

        li
          margin-right: 10px

    .list_armies
      +list_resources($left_col_count)

  .right_side
    .top_side
      border-bottom: 1px solid black

      .params
        #name_army
          +input_name
          margin:
            top: 6px
            left: 193px

        #btn_clean_army
          margin:
            top: 6px
            left: 10px

    .army_place
      +army_place

      .unit_count
        width: 40px
        margin-top: 7px
