!!!5
%html
  %head
    %meta{ :charset => "utf-8" }
    %link{ :href => "stylesheets/screen.css", :type => "text/css", :rel => "stylesheet" }
    /[if lt IE 9]
      %script{ :src => "http://html5shiv.googlecode.com/svn/trunk/html5.js" }
    %script{ :src => "/javascripts/jquery-1.7.1.min.js" }
    %script{ :src => "/javascripts/underscore-min.js" }

    - %w[spine ajax list local manager relation route tabs tmpl session].each do |file|
      %script{ :src => "/javascripts/spine/#{file}.js" }

    %script{ :src => "/javascripts/swfobject.js" }
    %script{ :src => "/javascripts/web_socket.js" }

    %script{ :src => "/javascripts/bootstrap-modal.js" }

    %script{ :src => "/javascripts/app.js" }
  %body
    #layout
      #main_container
        %header
          %span#title STRATEGO
          #top_menu
            %ul#auth
              %li
                %a#login{ :href => "#" } Login
              %li
                %a#signup{ :href => "#" } Signup
            %ul#profile
              %li
                %span#user_login
              %li
                %a#logout{ :href => "#" } Logout
        #content
          #users_online
          #available_games
            .left_side
              .top_side
                %button.btn.success#btn_join_game Join game
              .list_games
            .right_side
              .army_panel
                .top_side
                  %h3
                  .params_army
                .army_place
                  .army
              .map_panel
                .top_side
                  %h3
                  .params_map
                .map_place
                  .map

          #maps_editor
            .left_side
              .top_side
                %ul
                  %li
                    %button.btn.success.btn_new New
                  %li
                    %button.btn.danger.btn_del Del
                  %li
                    %button.btn.primary.btn_save Sv
              .list_maps
              .tools
                %ul
                  %li
                    .map_cell
                  %li
                    .map_cell.pl1
                  %li
                    .map_cell.pl2
                  %li 
                    .map_cell.obst
            .right_side
              .top_side
                .params
                  %input.span2#name_map{ :type => "text", :placeholder => "Name"}
                  %input.span2#width_map{ :type => "text", :placeholder => "Width"}
                  %input.span2#height_map{ :type => "text", :placeholder => "Height"}
                  %button.btn#btn_gen_map Generate
                  %button.btn#btn_clean_map Clean
              .map_place
                .map

          #armies_editor
            .left_side
              .top_side
                %ul
                  %li
                    %button.btn.success.btn_new New
                  %li
                    %button.btn.danger.btn_del Del
                  %li
                    %button.btn.primary.btn_save Sv
              .list_armies
            .right_side
              .top_side
                .params
                  %input.span2#name_army{ :type => "text", :placeholder => "Name"}
                  %button.btn#btn_clean_army Clean
              .army_place
                .army

          #game_creation
            .army_panel
              .left_side
                .top_side
                  %h3 Armies
                .list_armies
              .right_side
                .top_side
                  .params_army
                  .params_game
                    %input.span2.name_game{ :type => "text", :placeholder => "Name"}
                    %button.btn.btn_create Create game
                .army_place
                  .army
            .map_panel
              .left_side
                .top_side
                  %h3 Maps
                .list_maps
              .right_side
                .top_side
                  .params_map
                .map_place
                  .map

          #game
            #game_created
              .left_side
                .top_side
                  %h3
                %button.btn.danger.btn_remove Remove game
              .right_side
                .army_panel
                  .top_side
                    %h3
                    .params_army
                  .army_place
                    .army
                .map_panel
                  .top_side
                    %h3
                    .params_map
                  .map_place
                    .map

            #game_placement
              .left_side
                .top_side
                  %h3
                .army
              .right_side
                .top_side
                  .left_side
                  .right_side
                    %button.btn.btn_ready Ready
                    %button.btn.danger.btn_leave_game Leave game
                .map_place
                  .map

            #game_process
          #about_project
            %h3 About
            %p
              It's online implementation of the stratego game.

      #right_panel
        #main_menu
          %ul.top_menu
            %li
              %button.btn.large.success#btn_users_online Users online
            %li
              %button.btn.large.success#btn_available_games Available games
          %ul.middle_menu
            %li
              %button.btn.large.primary#btn_game_creation Create game
            %li
              %button.btn.large.primary#btn_game Game
            %li
              %button.btn.large.primary#btn_maps_editor Maps editor
            %li
              %button.btn.large.primary#btn_armies_editor Armies editor
            %li
              %button.btn.large.primary#btn_tacktics_editor Tacktics editor
          %ul.bottom_menu
            %li
              %button.btn.large#btn_about_project About project
      #layout_footer
    %footer
    
    %script{ :type => "text/template", :id => "templ_modal_auth" }
      #modal_auth.modal.hide.fade
        .modal-header
          %h3
            <%= header %>
        .modal-body
          %ul
            %li
              .input
                %input.span3.login{ :type => "text", :placeholder => "Login"}
                %span.msg-error
            %li
              .input
                %input.span3.password{ :type => "password", :placeholder => "Password"}
                %span.msg-error
        .modal-footer
          %ul
            %li
              %button.btn.cancel Cancel
            %li
              %button.btn.success.apply
                <%= header %>

    %script{ :type => "text/template", :id => "templ_resources" }
      %h3
        <%= header %>
      %ol
        <% for (var i in resources) { %>
        %li
          %span
            <%= resources[i] %>
        <% } %>


    %script{ :type => "text/template", :id => "templ_list" }
      %ol
        <% for (var i in list) { %>
        <% var el = list[i].name; %>
        <%= "<li" + (el == el_selected ? ' class="selected"' : "") + ">" + el + "</li>" %>
        <% } %>

    %script{ :type => "text/template", :id => "templ_map" }
      %table
        %tbody
          <% for (var i = height - 1; i >= 0; --i) { %>
          %tr
            <% for (var j = 0; j < width; ++j) { %>
            %td
              <%= '<div class="map_cell" id="cell_' + (i * width + j) + '"></div>' %>
              <% } %>
              <% } %>

    %script{ :type => "text/template", :id => "templ_army" }
      <% for (var i = 0; i < col_count; ++i) { %>
      <% var res = "<ul>"; %>
      <% var v = (Math.ceil(count / col_count)); %>
      <% var c = (i == col_count - 1 ? count - (col_count - 1) * v : v); %>
      <% for (var j = 0; j < c; ++j) { %>
      <% var unit = units[i*c+j]; %>
      <% res += "<li>"; %>
      <% res += '<span class="img_unit_' + unit.name + '"></span>'; %> 
      <% res += '<span class="unit_name">' + unit.name + "</span>"; %> 
      <% res += '<span class="unit_count">' + unit.count + "</span>"; %>
      <% res += "</li>"; %>
      <% } %>
      <%= res + "</ul>" %>
      <% } %>

    %script{ :type => "text/template", :id => "templ_edt_army" }
      <% for (var i = 0; i < col_count; ++i) { %>
      <% var res = "<ul>"; %>
      <% var v = (Math.ceil(count / col_count)); %>
      <% var c = (i == col_count - 1 ? count - (col_count - 1) * v : v); %>
      <% for (var j = 0; j < c; ++j) { %>
      <% var unit = units[i*c+j]; %>
      <% res += "<li>"; %>
      <% res += '<span class="img_unit_' + unit.name + '"></span>'; %> 
      <% res += '<span class="unit_name">' + unit.name + "</span>"; %> 
      <% res += '<select class="small unit_count">'; %> 
      <% for (var k = unit.min_count; k <= unit.max_count; ++k) { %>
      <% var selected = (unit.count == k ? ' selected="selected"' : ''); %>
      <% res += "<option" + selected + ">" + k + "</option>"; %>
      <% } %>
      <% res += "</select></li>"; %>
      <% } %>
      <%= res + "</ul>" %>
      <% } %>


