!!!5
%html
  %head
    %meta{ :charset => "utf-8" }
    %link{ :href => "stylesheets/screen.css", :type => "text/css", :rel => "stylesheet" }
    /[if lt IE 9]
      %script{ :src => "http://html5shiv.googlecode.com/svn/trunk/html5.js" }
    %script{ :src => "/javascripts/jquery-1.7.1.min.js" }
    %script{ :src => "/javascripts/jquery-ui-1.8.17.custom.min.js" }
    %script{ :src => "/javascripts/underscore-min.js" }

    - %w[spine ajax list local manager relation route tabs tmpl session].each do |file|
      %script{ :src => "/javascripts/spine/#{file}.js" }

    %script{ :src => "/javascripts/swfobject.js" }
    %script{ :src => "/javascripts/web_socket.js" }

    %script{ :src => "/javascripts/bootstrap-modal.js" }

    %script{ :src => "/javascripts/app.js" }
  %body
    #layout
      #main_container
        %header
          %span#title STRATEGO
          #top_menu
            %ul#auth
              %li
                %a#login{ :href => "#" } Login
              %li
                %a#signup{ :href => "#" } Signup
            %ul#profile
              %li
                %span#user_login
              %li
                %a#logout{ :href => "#" } Logout
        #content
          #users_online
          #available_games
            .left_side
              .top_side
                %button.btn.success#btn_join_game Join game
              .list_games
            .right_side
              .army_panel
                .top_side
                  %h3
                  .params_army
                .army_place
                  .army
              .map_panel
                .top_side
                  %h3
                  .params_map
                .map_place
                  .map

          #maps_editor
            .left_side
              .top_side
                %ul
                  %li
                    %button.btn.success.btn_new New
                  %li
                    %button.btn.danger.btn_del Del
                  %li
                    %button.btn.primary.btn_save Sv
              .list_maps
              .tools
                %ul
                  %li
                    %span.cell
                      .map_cell
                    %span.name Space
                    %span.count
                  %li
                    %span.cell
                      .map_cell.pl1
                    %span.name Player1
                    %span.count
                  %li
                    %span.cell
                      .map_cell.pl2
                    %span.name Player2
                    %span.count
                  %li
                    %span.cell
                      .map_cell.obst
                    %span.name Obstruction
                    %span.count
            .right_side
              .top_side
                .params
                  %input#name_map{ :type => "text", :placeholder => "Name"}
                  %input#width_map{ :type => "text", :placeholder => "Width"}
                  %input#height_map{ :type => "text", :placeholder => "Height"}
                  %button.btn#btn_gen_map Generate
                  %button.btn#btn_clean_map Clean
                  %button.btn#btn_reflect_map Reflect
              .map_place
                .map

          #armies_editor
            .left_side
              .top_side
                %ul
                  %li
                    %button.btn.success.btn_new New
                  %li
                    %button.btn.danger.btn_del Del
                  %li
                    %button.btn.primary.btn_save Sv
              .list_armies
            .right_side
              .top_side
                .params
                  %input#name_army{ :type => "text", :placeholder => "Name"}
                  %button.btn#btn_clean_army Clean
              .army_place
                .army

          #game_creation
            .army_panel
              .left_side
                .top_side
                  %h3 Armies
                .list_armies
              .right_side
                .top_side
                  .params_army
                  .params_game
                    %input.name_game{ :type => "text", :placeholder => "Name"}
                    %button.btn.btn_create Create game
                .army_place
                  .army
            .map_panel
              .left_side
                .top_side
                  %h3 Maps
                .list_maps
              .right_side
                .top_side
                  .params_map
                .map_place
                  .map

          #game
            #game_created
              .left_side
                .top_side
                  %h3
                %button.btn.danger.btn_remove Remove game
              .right_side
                .army_panel
                  .top_side
                    %h3
                    .params_army
                  .army_place
                    .army
                .map_panel
                  .top_side
                    %h3
                    .params_map
                  .map_place
                    .map

            #game_placement
              .left_side
                .top_side
                  %h3
                .army
              .right_side
                .top_side
                  .left_side
                  .right_side
                    %ul
                      %li
                        %select.small.game_tactics
                      %li
                        %button.btn.btn_clean Clean
                      %li
                        %button.btn.success.btn_ready Ready
                      %li
                        %button.btn.danger.btn_leave_game Leave game
                .map_place
                  .map

            #game_process
              .left_side
                .top_side
                  %h3
                .units_place
                  / .game_units_header
                  /   %h4 You
                  /   %h4 Opponent
                  %ul
              .right_side
                .top_side
                  .left_side
                    %ul
                      %li
                        %h4.turn_display Turn: Opponent
                  .right_side
                    %ul
                      %li
                        %button.btn.danger.btn_leave_game Leave game
                .map_place
                  .map
              
          #about_project
            %h3 About
            %p
              It's online implementation of the stratego game.

          .modal_container
      #right_panel
        #main_menu
          %ul.top_menu
            %li
              %button.btn.large.success#btn_users_online Users online
            %li
              %button.btn.large.success#btn_available_games Available games
          %ul.middle_menu
            %li
              %button.btn.large.primary#btn_game_creation Create game
            %li
              %button.btn.large.primary#btn_game Game
            %li
              %button.btn.large.primary#btn_maps_editor Maps editor
            %li
              %button.btn.large.primary#btn_armies_editor Armies editor
            %li
              %button.btn.large.primary#btn_tacktics_editor Tacktics editor
          %ul.bottom_menu
            %li
              %button.btn.large#btn_about_project About project
        #notifications
          %ul
      #layout_footer
    %footer
    

    %script{ :type => "text/template", :id => "templ_modal_end_game" }
      #modal_end_game.modal.hide.fade
        .modal-header
          %h3
            End of the game
        .modal-body
          %h4
            <%= msg %>
        .modal-footer
          %ul
            %li
              %button.btn.success.ok Ok

    %script{ :type => "text/template", :id => "templ_modal_duel" }
      #modal_duel.modal.hide.fade
        .modal-header
          %h3
            Duel
        .modal-body
          .left_side
            .attacker_place
              .img_unit
            %p
              <%= attacker %>
          .middle_side
            %h4
              VS
          .right_side
            .protector_place
              .img_unit
            %p
              <%= protector %>
          %h4
            <%= result %>
        .modal-footer
          %ul
            %li
              %button.btn.success.ok Ok

    %script{ :type => "text/template", :id => "templ_modal_yes_no" }
      #modal_yes_no.modal.hide.fade
        .modal-header
          %h3
            <%= header %>
        .modal-body
          %p
            <%= text %>
        .modal-footer
          %ul
            %li
              %button.btn.no No
            %li
              %button.btn.success.yes Yes
                
    %script{ :type => "text/template", :id => "templ_modal_auth" }
      #modal_auth.modal.hide.fade
        .modal-header
          %h3
            <%= header %>
        .modal-body
          %ul
            %li
              .input
                %input.span3.login{ :type => "text", :placeholder => "Login"}
                %span.msg-error
            %li
              .input
                %input.span3.password{ :type => "password", :placeholder => "Password"}
                %span.msg-error
        .modal-footer
          %ul
            %li
              %button.btn.cancel Cancel
            %li
              %button.btn.success.ok
                <%= header %>

    %script{ :type => "text/template", :id => "templ_game_tactics" }
      <% for (var t in tactics) { %>
      <%= "<option>" + t + "</option>" %>
      <% } %>

    %script{ :type => "text/template", :id => "templ_resources" }
      %h3
        <%= header %>
      %ol
        <% for (var i in resources) { %>
        %li
          %span
            <%= resources[i] %>
        <% } %>


    %script{ :type => "text/template", :id => "templ_list" }
      %ol
        <% for (var i in list) { %>
        <% var el = list[i].name; %>
        <%= "<li" + (el == el_selected ? ' class="selected"' : "") + ">" + el + "</li>" %>
        <% } %>

    %script{ :type => "text/template", :id => "templ_map" }
      %table
        %tbody
          <% for (var i = height - 1; i >= 0; --i) { %>
          %tr
            <% for (var j = 0; j < width; ++j) { %>
            %td
              <%= '<div class="map_cell" id="cell_' + (i * width + j) + '"></div>' %>
              <% } %>
              <% } %>

    %script{ :type => "text/template", :id => "templ_army" }
      <% for (var i = 0; i < Math.min(count, col_count); ++i) { %>
      <% var res = "<ul>"; %>
      <% var v = (Math.ceil(count / col_count)); %>
      <% var c = (i == col_count - 1 ? count - (col_count - 1) * v : v); %>
      <% for (var j = 0; j < c; ++j) { %>
      <% var unit = units[i*c+j]; %>
      <% res += "<li>"; %>
      <% res += '<span class="img_unit_' + unit.name + '"></span>'; %> 
      <% res += '<span class="unit_name">' + unit.name + "</span>"; %> 
      <% res += '<span class="unit_count">' + unit.count + "</span>"; %>
      <% res += "</li>"; %>
      <% } %>
      <%= res + "</ul>" %>
      <% } %>

    %script{ :type => "text/template", :id => "templ_edt_army" }
      <% for (var i = 0; i < Math.min(count, col_count); ++i) { %>
      <% var res = "<ul>"; %>
      <% var v = (Math.ceil(count / col_count)); %>
      <% var c = (i == col_count - 1 ? count - (col_count - 1) * v : v); %>
      <% for (var j = 0; j < c; ++j) { %>
      <% var unit = units[i*c+j]; %>
      <% res += "<li>"; %>
      <% res += '<span class="img_unit_' + unit.name + '"></span>'; %> 
      <% res += '<span class="unit_name">' + unit.name + "</span>"; %> 
      <% res += '<select class="small unit_count">'; %> 
      <% for (var k = unit.min_count; k <= unit.max_count; ++k) { %>
      <% var selected = (unit.count == k ? ' selected="selected"' : ''); %>
      <% res += "<option" + selected + ">" + k + "</option>"; %>
      <% } %>
      <% res += "</select></li>"; %>
      <% } %>
      <%= res + "</ul>" %>
      <% } %>
    
    %script{ :type => "text/template", :id => "templ_notification" }
      <%= '<div class="alert-message ' + type + '">' %>
      <a class="close" href="#">×</a>
      <p>
      <%= text %>
      </p>
      </div>

    %script{ :type => "text/template", :id => "templ_game_units" }
      <% for (var i = 0; i < units.length; ++i) { %>
      <% var u = units[i]; %>
      <% var li = '<li>'; %>
      <% li += '<span class="pl1">' + u.pl1 + ' / ' + u.count + '</span>'; %>
      <% li += '<span class="middle"><span class="img_unit_' + u.name + '"></span></span>'; %>
      <% li += '<span class="pl2">' + u.pl2 + ' / ' + u.count + '</span>'; %>
      <% li += '</li>'; %>
      <%= li %>
      <% } %>
